/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


header {
    background-color: lightsteelblue;
}

main {
    background-color: lightgrey;
}

footer {
    background-color: lightslategrey;
}