/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Inconsolata:wght@200..900&display=swap');


/* Asterisk wildcard selector to override default browser styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #F2F2F2;
    font-family: "Inconsolata", monospace;

}


header {
    background-color: #f2f2f2;
    padding: 0 1rem;
    position: fixed;
    z-index: 50;
    width: 100%;
    box-shadow: 0 2px 3px #A80D0E;

}

header a {
    text-decoration: none;
    color: #424040;

}

h1,
h2,
h3 {
    font-family: "Karla", sans-serif;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 0.7em;
}

.active {
    border-bottom: 1px solid #424040;
}

main {
    background-color: #424040;
    /* Make main element take up all surplus space to push footer to the bottom */
    flex: 1 0 0;
}

footer {
    background-color: #F2F2F2;
}